    #img {
		width:100vw;
		height: 100vh;
        background-size: cover;
        position: fixed;
        background-position: top center;
        top: 0;
        left: 0;
        z-index: -1;
        background-image: url(audbg1.JPG);
    }

/* FONTS */

@font-face {
	font-family:'coquette';
	src: url(../fonts/ginra_sans);
}

footer {
	position: sticky;

}
