        
         @font-face {
   font-family: GinoraRegular;
   src: url(Typeface/GinóraSansRegular.otf);
}
        
        #bgImg{
            width: 100vw;
            height: 100vh;
            background-color: red;
            transition: 1s;
        }
        
        
        /* startbutton */
        
        #startCont{
           position: absolute;
            width: 300px;
            height: auto;
            margin: auto;
            padding: 10px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            
            
        }
        
         #startBtn {
     animation: colorAnim 2s infinite;
            font-family: GinoraRegular;
            font-size: 20pt;
    }
        
         @keyframes colorAnim {
           0% {color: white;}
           25% {color:darkgrey;}     
           50% {color:gray;}
           100% {color: black;}
      } 

        /* input form */
        
           #container{
               position: absolute;
               top: 100px;
               left: 0px;
               right: 0px;
            width: 500px;
            height: auto;
            padding: 10px;
            margin: auto;
            border-radius: 6px;
            box-shadow: 10px 10px 5px #888888;
               display: none;
               background-color: #ffffff;
               transition: 1s;
        }
  
        #form1{
            
            background-color: #ffffff;
        }
        
        #field1{
            background-color: #ffffff;
        }
        
        form p, h3, h2{
            background-color: #ffffff;
        }
        
        option, select, legend {
            background-color: #ffffff;
        }

        #submitBtn{    
	border: none;
	box-shadow: 0 1px 3px rgba(0,0,0,.24), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 6px;
    background-color: #59a3d1;
	color: #ffffff;
	width: 22%;
    text-align: center;
    font-family: GinoraRegular;
    font-size: 20pt;
        }
        